<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wildnotion.whats-that-pic" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Whats That Pic</name>
    <description>
      An online game. A cross between telephone and pictionary. Players take a turn either drawing a picture from a description or describing a drawn picture. Check out some of the games played in the past in the app. 
    </description>
    <author email="walt@wildnotion.com" href="http://wildnotion.com">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
